@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

@import "colors";
@import "header";
@import "home";
@import "cart";
@import "mediaquery";

body {
  background-image: linear-gradient(to right, #ff0000, #0000ff,rgb(255, 81, 1));
  
}

