@import "colors";

nav {
  background-image: linear-gradient(to right, #ffd000, #1eff00,rgb(255, 0, 255));
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;

  h2 {
    text-transform: uppercase;
    color: rgba(255, 0, 0, 0.71);
    /* Replace the RGB values (199, 49, 49) and alpha value (0.71) with your desired colors and opacity */
  }
  

  > div {
    display: flex;
    align-items: center;

    > a {
      color: #000000;
      font-size: 1.2rem;
      margin: 0 1rem;
      transition: all 0.3s;
      &:hover {
        color: #ffffff;
      }

      > p {
        position: absolute;
        background-color: #fffb00d2;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        font: 900 0.7rem "Roboto";
        display: grid;
        place-items: center;
        transform: translate(80%, -80%);
      }
    }
  }
}
